@model Wad.iFollow.Web.Models.WallData
<div id="comm-@Model.postId"></div>
@using (Html.BeginForm("SetComment", "Wall", FormMethod.Post, new { id = "commentForm"}))
{
    @Html.HiddenFor(m => m.postId)
    @Html.TextAreaFor(m => m.currentComment)
    <input type="submit" value="OK" />
}
